<main class="container-fluid">
    <app-resumen></app-resumen>
    <section class="row">
        <h3>Mis horas aprobadas de este mes</h3>
        <article class="col-lg-12 card">
            <div class="scroll-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora inicio</th>
                            <th scope="col">Hora término</th>
                            <th scope="col">Área de trabajo</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (actividad of actividades; track $index) {
                        @if (actividad.estado == true) {
                        <tr>
                            <td scope="row">{{actividad.fecha}}</td>
                            <td>{{actividad.inicio}}</td>
                            <td>{{actividad.fin}}</td>
                            <td>{{actividad.area}}</td>
                            <td><span class="badge text-bg-success">Aprobado</span></td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </article>
        <h3>Mis horas por aprobar de este mes</h3>
        <article class="col-lg-12 card">
            <div class="scroll-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora inicio</th>
                            <th scope="col">Hora termino</th>
                            <th scope="col">Área de trabajo</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (actividad of actividades; track $index) {
                        @if (actividad.estado == false) {
                        <tr>
                            <td scope="row">{{actividad.fecha}}</td>
                            <td>{{actividad.inicio}}</td>
                            <td>{{actividad.fin}}</td>
                            <td>{{actividad.area}}</td>
                            <td><span class="badge text-bg-danger">No aprobado</span></td>

                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>

        </article>
    </section>

</main>