@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main {
    padding: 2vh;
}

section {
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


h2,
form fieldset h3 {
    text-align: center;
}


form a {
    color: #333;
}

mat-form-field mat-label,
mat-form-field input,
mat-form-flied mat-hint {
    font-family: "Roboto", sans-serif !important;
}

.linkRegistro {
    text-align: center;
    margin-top: 2vh;
    text-decoration: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    padding: 2vh;
    outline: none;
    color: white;
    border: none;
    border-radius: 2vh;
    background-color: blue;
    transition: 0.5s ease background-color;
}