<main class="container-fluid">
  <section class="row">
    <mat-card class="col-lg-8">
      <mat-card-header>
        <h3>Tu cuenta de usuario</h3>
        <mat-divider></mat-divider>
      </mat-card-header>
      <mat-card-content>

        <form [formGroup]="profileForm" (ngSubmit)="updatePassword()">

          <mat-form-field>
            <mat-label>Rut</mat-label>
            <input matInput type="text" formControlName="rut" readonly>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre" readonly>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput type="tel" formControlName="fono" readonly>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo electronico</mat-label>
            <input matInput type="email" formControlName="email" readonly>
          </mat-form-field>

          <fieldset>
            <button matButton="outlined" type="button" (click)="isChangePassword()">{{buttonText}}</button>
          </fieldset>

          @if (changePassword) {
          <mat-form-field>
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="newPassword"
              placeholder="Ingresa tu nueva contraseña" />
            <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Debe incluir mayúscula, minúscula, número y símbolo.</mat-hint>
            @if (hasErrors('newPassword','minlength')) {
            <mat-error>Debe tener mas de 5 caracteres</mat-error>
            }
            @else if (hasErrors('newPassword','maxlength')) {
            <mat-error>Debe tener menos de 50 caracteres</mat-error>
            }
            @else if (hasErrors('newPassword','pattern')) {
            <mat-error>Debe incluir mayúscula, minúscula, número y símbolo.</mat-error>
            }
            @else if (hasErrors('newPassword','required')) {
            <mat-error>Es obligatoria!</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Repite tu nueva contraseña</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="newPassword2"
              placeholder="Repite tu nueva contraseña" />
            <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Debe ser identica a la contraseña ingresada</mat-hint>
            @if (hasErrors('newPassword2','minlength')) {
            <mat-error>Debe tener mas de 5 caracteres</mat-error>
            }
            @else if (hasErrors('newPassword2','maxlength')) {
            <mat-error>Debe tener menos de 50 caracteres</mat-error>
            }
            @else if (hasErrors('newPassword2','pattern')) {
            <mat-error>Debe incluir mayúscula, minúscula, número y símbolo.</mat-error>
            }
            @else if (hasErrors('newPassword2','required')) {
            <mat-error>Es obligatoria!</mat-error>
            }
          </mat-form-field>

          <fieldset>
            <button matButton="filled" type="submit">Guardar cambios</button>
          </fieldset>

          }

        </form>

      </mat-card-content>
    </mat-card>
  </section>
</main>