main{
    padding: 2vh;
}

section{
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
}

form fieldset h6,
form fieldset h3{
    text-align: center;
}
.cargando{
    display: flex;
    justify-content: center;
}

.linkRegistro{
    text-align: center;
    margin-top: 2vh;
    text-decoration: none;
}